<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="checkbox" name="isDone" id="isDone" {{#if todo.isDone}} checked {{/if}}>
  <input type="text" name="name" value="{{ todo.name }}">
  <button type="submit">edit</button>
</form>
<a href="/">back</a>