<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center mt-3">Register</h2>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label for="Name">Name*</label>
          <input type="text" name="Name" id="Name" class="form-control" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password*</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password*</label>
          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Enter confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Resgister</button>
      </form>
      <p class="lead mt-4">Have a Account?<a href="/users/login">Login</a></p>
    </div>
  </div>
</div>